<h1><i class="fa fa-wordpress" aria-hidden="true"></i>Word Count</h1>
  <form method="post">
    <div class="form-group">
      <label for="sentence">Enter string of words</label>
      <input id="sentence" name="sentence" class="form-control" type="text">
      <label for="word">Enter a word</label>
      <input id="word" name="word" class="form-control" type="text">
    </div>
   
    <button type="submit" class="btn btn-primary">Count</button>
  </form>

  <div class="display-palindrome">
	<div class="row">
		<div class="col-md-3 .col-md-offset-6">
			<div class="panel panel-primary">
				<div class="panel-heading">
    				<h3 class="panel-title">Word Count</h3>
  				</div>
  				<div class="panel-body">
  					<strong>Word Input: </strong><%= @word %><br><br>
  					<strong>String Input: </strong><%= @sentence %><br><br>
    				<strong>Output: <strong><%= @word_count =%>
  				</div>
  				<div class="panel-footer">
  				</div>
			</div>
		</div>
	</div>
</div>